*{
 margin: 0;
 padding: 0;
 outline: none;
 box-sizing: border-box;
}

body{
height:100vh;
background-image:url('login-image.jpeg');
background-size:cover;
display:flex;
align-items:center;
justify-content:center;
font-family: 'Times New Roman', serif;
}
.container{
width:100%;
max-width:500px;
border:3px solid #85cccc;
padding:30px;
color:#035454;
text-align:center;
font-size:20px;
}
h1{
margin:20px;
}
.button,
.cancel{
background-color:#12b8b8;
color:#035454;
padding: 10px ;
border:none;
margin:10px 70px;
text-decoration:none;
}
p{
margin-bottom:20px;
}