*{
 margin: 0;
 padding: 0;
 outline: none;
 box-sizing: border-box;
}

body{
height:100vh;
background-image:url('home.jpg');
background-size:cover;
}
h1{
font-size:50px;
color:#035454;
}

nav{
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding-top:0px;
  padding-left :5%;;
  padding-right: 5%;

}
nav ul li {
list-style-type: none;
display: inline-block;
padding:  10px 20px;
backdrop-filter: blur(50px);
border:1px solid white;
margin:30px;

}
nav ul li a{
color:#035454;
text-decoration: none;

}

.card-body{
display:flex;
float:right;
padding:10px;
font-size:25px;
color:#035454;
letter-spacing:2px;
line-height:40px;
backdrop-filter: blur(2px);
margin-right:150px ;
margin-top:50px;
}
