.task-items-wrapper tr,td,th{
border:1px solid black;
text-align:center;
}
table {
  border-collapse: collapse;
  margin:50px 40px;
}
.task-items-wrapper,
h2,h1,
.create
{
text-align:center;
}


.create a:link,
.task-items-wrapper a:link
{
background-color: #f44336;
 color: white;
 padding: 14px 25px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
}