body{
height:100vh;
background-image: url("login.jpg");
background-size: cover;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}
.login_card{
max-width:300px;
width:100%;
background:transparent;
border:1px solid white;
backdrop-filter: blur(5px);
color:white;
padding:20px 20px;
}
form .button{
background-color:#2c506d;
border-radius:2px;
border:none;
height:25px;
width:60px;
text-align:center;
font-size:14px ;
font-weight:bold;
color: white;

}