*{
 margin: 0;
 padding: 0;
 outline: none;
 box-sizing: border-box;
}

body{
height:100vh;
background-image:url('login-image.jpeg');
background-size:cover;
display:flex;
justify-content:center;
align-items:center;
text-align:center;

}
.container{
width:100%;
max-width:450px;
color:#035454;
border:3px solid #85cccc;
text-align:center;
padding:30px;
line-height:30px;
}

h1{
margin-bottom:25px;
}
.button{
background-color:#12b8b8;
color:#035454;
padding: 10px;
border:none;
margin:20px;
}
.container ul li{
display:flex;
flex-wrap:wrap;
justify-content:space-between;
margin-bottom:15px;
}
.container ul li input{
background-color:#ebf7f7;
border:none;
padding:7px;
font-size:16px;
margin-left:10px;
}


