*{
 margin: 0;
 padding: 0;
 outline: none;
 box-sizing: border-box;
}

body{
height:100vh;
background-image:url('login-image.jpeg');
background-size:cover;
display:flex;
justify-content:center;
align-items:center;
font-family: 'Times New Roman', serif;
}

.container{
max-width:500px;
width:100%;
border:3px solid #85cccc;
padding:30px;
color:#035454;
}
h1{
text-align:center;
}
input, textarea{
background-color:#ebf7f7;
border:none;
padding:7px;
font-size:17px;
font-family: 'Times New Roman', serif;
}
.button,
.back-button{
background-color:#12b8b8;
color:#035454;
padding: 5px;
text-decoration: none;
display: inline-block;
margin:10px 90px;
line-height:30px;
}