{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'liststyle.css' %}">
    <title>Title</title>
</head>
<body>

    <h1>Task List</h1>

    <div class="header-box">

        <h2>Hello... {{user.username | title}}</h2>

        <a  href="{% url 'task-create' %}" class="button">Add Task</a>
        <div class="task-items-wrapper">
<table class="center">

                {% for tasks in task %}
    <tr>

        <td style="width:20%; height:50px;">{{tasks.title}}</td>
        <td style="width:15%; height:50px;">{{tasks.description}}</td>
        <td style="width:20%; height:50px;">{{tasks.created}}</td>
        <td style="width:7%; height:50px;">{{tasks.completed}}</td>



                    <td style="width:9%; height:10px;"><a href="{% url 'task-update' tasks.id %}"><i class="fa fa-edit"></i></a></td>
                    <td style="width:9%; height:10px;"><a href="{% url 'task-delete' tasks.id %}"><i class="fa fa-trash"></i></a></td>
                    <td style="width:9%; height:10px;"><a href="{% url 'task-details' tasks.id %}"><i class="fa fa-eye"></i></a></td>
            </tr>
            {% endfor %}
</table>



        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}"class="button">Logout</a>
        {% else %}
        <a href="{% url 'login' %}"class="button">Login</a>
        {% endif %}
 </div>
    </div>

</body>
</html>