{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'list_style.css' %}">
</head>
<body>

    <h1>Task List</h1>

    <div class="header-box">

        <h1>Hello,{{user.username | title}}</h1>

 <a href="{% url 'task-create' %}">Add Task</a>
        <table>


                <tr>
                    <th>ID</th>
                    <th>TASK</th>
                    <th>DESCRIPTION</th>
                    <th>STATUS</th>
                    <th>CREATED</th>
                    <th>UPDATE</th>
                    <th>DELETE</th>
                    <th>VIEW</th>
                </tr>
                {% for tasks in task %}
                <tr>
                    <td style="width:50px; height:50px;">{{tasks.id}}</td>
                    <td style="width:200px;height:50px;">{{tasks.title}}</td>
                    <td style="width:200px;height:50px;">{{tasks.description}}</td>
                    <td style="width:100px;height:50px;">{{tasks.completed}}</td>
                    <td style="width:250px;height:50px;">{{tasks.created}}</td>


                    <td style="width:50px;height:50px;"><a href="{% url 'task-update' tasks.id %}">Task Update</a></td>
                    <td style="width:50px;height:50px;"><a href="{% url 'task-delete' tasks.id %}">Task Delete</a></td>
                    <td style="width:50px;height:50px;"><a href="{% url 'task-details' tasks.id %}">Detail View</a></td>
                </tr>
                {% endfor %}



        </table>
     <div class="task-items-wrapper">
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
 </div>
    </div>

</body>
</html>