{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'taskcreated.css' %}">
    <title>Title</title>

</head>
<body>
<div class="container">
<h1>Task Create</h1>
<form method="post" action=" ">
    {% csrf_token %}
    {{form.as_p}}
    <input class="button" type="submit" value="Submit">
    <a href="{% url 'task' %}" class="back-button"style="font-size:17px">Back</a>
</form>
 </div>
</body>
</html>