{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'delete.css' %}">
    <title>Delete page</title>

</head>
<body>
<div class="container">
<h1>Task Delete</h1>
<div class="card-body">

  <form method="post" action="">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{task}}"?</p>
      <input class="button" type="submit" value="Delete">
<a href="{% url 'task'%}" class="cancel"style="font-size:17px">Cancel</a>
  </form>
</div>
</div>
</body>
</html>